{{# if currentUserId}}

<div>
    <div class="has-text-centered" id="welcome">
        <h1 class="title is-1">Welcome</h1>
        <p id="welcomeContent">Good to see you here</p>
        <a class="button is-white is-large is-outlined" id="startButton" href="/chats/">Let's Chat</a>
    </div>
    
</div>


{{else}}
    <div class="columns is-mobile">
        <div class="card column is-one-quarter-desktop is-one-half-mobile is-one-third-tablet is-narrow" id="loginBox">
            <div class="card-content">
                <form action="/login" method="post">
                <div class="title is-4 has-text-centered">Login</div>
                    <div class="field">
                        <label for="user-username" class="label">Username</label>
                        <div class="control">
                            <input type="text" name="username" class="input is-black" id="user-username" placeholder="Username">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label for="user-password" class="label">Password</label>
                            <input type="password" name="password" class="input is-black" id="user-password" placeholder="Password">
                        </div>
                    </div>
                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <button type="submit" class="button is-black is-outlined">Sign In</button>
                            </div>
                        </div>
                </form>
            </div>
            <footer class="card-footer">
                <p class="card-footer-item">
                    <span>
                        Don't have an account? 
                        <a href="/create">Sign Up</a>
                    </span>
                </p>
            </footer>
        </div>
    </div>
{{/if}}