body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  /* background: #c2e59c;
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
  background: linear-gradient(to right, #64b3f4, #c2e59c); */
  background: black;
}

a {
  color: #00B7FF;
}

html, body{
  height: 100%;
}

/* .dropdown-menu{
    border: 7px solid transparent;
    border-bottom-color: #fff;
} */

#navbar{
  background: transparent;

}

#loginBox{
  margin:100px auto;
  border-radius: 7px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

a.navbar-item:hover{
  background-color: rgba(250, 250, 250, .7);
  
}

#welcome{
  color: white;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#welcome h1{
  color: white;
}

#chat{
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

#particles-js canvas{
  height: 95% !important;
}