body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  
  /* background: #c2e59c;
  background: -webkit-linear-gradient(to right, #64b3f4, #c2e59c);
  background: linear-gradient(to right, #64b3f4, #c2e59c); */
  background: black;
}

a {
  color: #00B7FF;
}

html, body{
  height: 100%;
}

/* .dropdown-menu{
    border: 7px solid transparent;
    border-bottom-color: #fff;
} */

#navbar{
  background: transparent;

}

#loginBox{
  margin:100px auto;
  border-radius: 7px;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
  opacity: .9;
}

a.navbar-item:hover{
  background-color: rgba(250, 250, 250, .7);
  
}

#welcome{
  color: rgb(229, 229, 229);
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

#welcome h1{
  color: rgb(229, 229, 229);
}

#chat{
  position: absolute;
  left: 50%;
  top: 30%;
  width: 50%;
  transform: translate(-50%, -50%);
}

#particles-js canvas{
  height: 90% !important;
}

.dropdown-menu{
  opacity: .9;
}

.navbar-item .title{
  color: rgb(229, 229, 229);
}

.dropdown-trigger .icon{
  color: rgb(229,229,229);
}

.dropdown-trigger .icon:hover{
  border-bottom: 2px solid;
}

#startButton{
  margin-top: 30px;
}

.title.is-1 {
  font-size: 3.5rem;
}

#welcomeContent{
  font-size: 1rem;
}

#chat-window{
  height: 250px;
  width: 200px;
  overflow: auto;
}

#messageDiv{
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.textMessage{
  color: rgb(229, 229, 229);
  border: 2px solid rgb(229, 229, 229);
  padding: 5px;
  border-radius: 5px;
  overflow: auto;
  height: 50px;
  width: 200px;
  margin-bottom: 5px;
}

.textMessage strong{
  color: rgb(229, 229, 229);
}

#globalTitle{
  color: rgb(229, 229, 229);
  text-align: center;
}

#feedback{
  color: rgb(229, 229, 229);
}

.friendSideBar {
  height: 450px;
  width: 200px;
  position: absolute;
  border: 2px solid rgb(229, 229, 229);
}

.friendList{
  
}