<div style="display:none" id="username" value="{{user.username}}"></div>


<div class="columns" id="chat-content">

    <aside class="menu column is-one-fifth-desktop is-one-fifth-mobile is-one-fifth-tablet">
        <p class="menu-label">General</p>
        <form action="/chats/chat/add" method="GET">
            <div class="field">
                <div class="control">
                    <input class="input is-black" type="text" placeholder="Friend Name" id="friendName" name="friendName">
                </div>
            </div>
            <div class="field is-grouped is-grouped-right">
                <div class="control">
                    <button type="submit" class="button is-white is-outlined" id="addFriend">Add</button>
                </div>
            </div>
        </form>

        <ul class="menu-list">
             {{#each user.friendList as | friend |}}
                <li style="color:white">
                    <a>{{this.username}}</a>
                </li>
            {{/each}}
        </ul>
    </aside>

    <div class="columns is-centered" id="chat">
        <div class="card column is-one-half-desktop is-one-half-mobile is-one-half-tablet is-narrow chat-card">
            <div class="card-content">
                <div class="is-desktop">
                    <h1 class="title is-3" id="globalTitle">Global Chat</h1>
                    <div class="is-primary" id="chat-window">
                        <div id="output"></div>
                        <div id="feedback"></div>
                    </div>
                </div>
            </div>
            <footer class="card-footer">
        
                <div id="room-input" class="container">
                    <div class="field">
                        <div class="control">
                            <input class="input is-black" placeholder="Join Room" id="roomName"></input>
                        </div>
                    </div>
                    <div class="field is-grouped ">
                        <div class="control is-grouped-left">
                            <button class="button is-black is-outlined" id="removeRoom">remove room</button>
                        </div>
                        <div class="control is-grouped-right">
                            <button class="button is-black is-outlined" id="addRoom">add room</button>
                        </div>
        
                    </div>
                </div>
        
                <div id="messageDiv" class="container">
                    <div class="field">
                        <div class="control">
                            <input class="input is-black" placeholder="To Who?" id="receiver"></input>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea is-black" placeholder="Please Enter Text!" id="message"></textarea>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-right">
                        <div class="control">
                            <button class="button is-black is-outlined" id="send">Send</button>
                        </div>
                    </div>
                </div>
            </footer>
        
        </div>
    </div>
    
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js'></script>
<script src='/javascripts/chat.js'></script>