<div class="container is-desktop" id="chat">
    <div class="textarea is-primary" id="chat-window">
        <div id="output"></div>
        <div id="feedback"></div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-primary" type="text" placeholder="Name" id="username">
            <input class="input is-primary" type="text" placeholder="Text" id="message">
        </div>
    </div>
    <div class="field is-grouped is-grouped-right">
        <p class="control">
            <a class="button is-primary" id="send">Submit</a>
        </p>
    </div>
</div>