<div class="tile is-ancestor is-mobile columns">
    <div class="tile is-parent">
        <article class="tile is-child notification">
            <div class="content">
                <p class="subtitle">Friend List</p>
                <div class="content">
                    <form action="/chats/chat/add" method="GET">
                        <div class="field">
                            <div class="control">
                                <input class="input is-black" type="text" placeholder="Friend Name" id="friendName" name="friendName">
                            </div>
                        </div>
                        <div class="field is-grouped is-grouped-right">
                            <div class="control">
                                <button type="submit" class="button is-black is-outlined" id="addFriend">Add</button>
                            </div>
                        </div>
                    </form>
                    <ul class="menu-list">
                        {{#each user.friendList as | friend |}}
                        <li class="friendList">
                            <a>{{this.username}}</a>
                        </li>
                        {{/each}}
                    </ul>
                    <div class="sidebar-channel-div display-between">
                        <div class="subtitle" style="margin-bottom:0;">Channels</div>
                        <span id="addChannel">
                            <i class="fas fa-plus"></i>
                        </span>
                    </div>
                    {{!-- <div id="channelContent" class="displayChannelInput display-between">
                        <input type="text" placeholder="Create Channel" class="input is-black" id="channelInput">
                        <span id="createChannel">
                            <i class="fas fa-check"></i>
                        </span>
                    </div> --}}

                    <div id="channelList">
                        <div class="channel channel-active">General</div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <div class="tile is-parent is-6 is-half-mobile column">
        <article class="tile is-child box chatDiv mainContent">
            <p class="title" id="chatTitle">General</p>

            <p class="subtitle">
                <div id="userCountDiv">Online:
                    <span>
                        <i class="fas fa-users"></i>
                    </span>
                    <span id="numUsers">0</span>
                </div>
            </p>

            <hr>

            <div class="is-primary" id="chat-window">
                <div id="output"></div>
                <div id="feedback"></div>
            </div>

            <hr>
            
            <div id="messageDiv" class="container">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea is-black" placeholder="@ for direct message" id="message"></textarea>
                    </div>
                </div>
                <div class="field is-grouped is-grouped-right">
                    <div class="control">
                        <button class="button is-black is-outlined" id="send">Send</button>
                    </div>
                </div>
            </div>
        </article>

        <article class="tile is-child box infoContent hide mainContent">
            <div>
                <div class="is-grouped-right is-grouped field">
                    <div class="control">
                        <span id="closeWindow">
                            <button class="delete"></button>
                        </span>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">Channel Name</label>
                        <input class="input is-black" placeholder="Channel Name" id="channelName"></input>
                        <p class="help">No spaces, any signs.</p>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">Description</label>
                        <input class="input is-black" placeholder="Description" id="description"></input>
                        <p class="help">What's the channel about?</p>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label class="label">Max Member</label>
                        <input class="input is-black" placeholder="Max Member" id="limit"></input>
                        <p class="help">Set the limit of the channel. (Optional)</p>
                    </div>
                </div>
                {{!--
                <div class="field">
                    <div class="control">
                        <label class="label">Send invites to</label>
                        <input class="input is-black" placeholder="Invites" id="invite"></input>
                        <p class="help">(Optional)</p>
                    </div>
                </div> --}}
                <div class="select is-black">
                    <select id="security">
                        <option>Public</option>
                        {{!-- <option>Private</option> --}}
                    </select>
                </div>
                <div class="is-grouped-right is-grouped field">
                    <div class="control">
                        <button class="button is-black is-outlined" id="createChannel">Create</button>
                    </div>
                </div>
            </div>
        </article>
        <article class="tile is-child box permissionDiv mainContent hide">
            <div class="is-grouped-right is-grouped field">
                <div class="control">
                    <span id="closeInfoWindow">
                        <button class="delete"></button>
                    </span>
                </div>
            </div>
        
            <p class="title" id="joinChannelTitle"></p>
            <p class="subtitle">
                <span id="permission"></span>
            </p>
            <div class="display-between">
                <div class="">Owner:
                    <span id="ChannelOwner"></span>
                </div>
                <div>Max Number:
                    <span id="maxLimit"></span>
                </div>
            </div>
            <hr>
            <p class="subtitle">Channel Description:</p>
            <div id="joinChannelDescription"></div>
            <div class="display-between">
                <button class="button is-black is-outlined is-medium" id="joinBtn">Join</button>
                <button class="button is-black is-outlined is-medium" id="cancelBtn">Cancel</button>
            </div>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child notification">
            <div class="content">
                <p class="subtitle" style="margin-bottom:10px;">Online Users</p>
                <hr>
                <div id="onlineUserList"></div>

                <hr>
                <p class="subtitle">Join Channels</p>
                <div id="publicChannelList">

                </div>
            </div>
        </article>
    </div>
</div>



<script src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js'></script>
<script src='/javascripts/chat.js'></script>
